.App {

  text-align: end;
  padding: 10px;
  border: #8d8b8a solid;
  background: #585756
	
}



.AnimeItem{

 
  display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 50px;

} 

.title{
  color: #697184
}
.date{
  color: #697184
}

h1{
  text-align: center;
  color: #B1A6A4;
}

.heading{
  text-align: end;
  padding: 10px;
  border: #8d8b8a solid;
  background: #585756
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}


.image-container:hover .watch {
	opacity: 1;
}



.image-container:hover .overlay {
	opacity: 1;
} 

.overlay{ 
  position: absolute;
	width: 10%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 30px;
	text-align: center;
} 

.AanimeButton{

  text-align: center;
  padding: 0px 180px 100px 100px;
}

.buttonMore{

  background-color: white;
  color: black;
  border: 2px solid #837f7f;
  width: 250px
  
}