

.App {

  text-align: end;
  padding: 10px;
  border: #8d8b8a solid;
  background: #585756
	
}

.navbar{
text-align: center;
  
}



.AnimeItem{


  display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 50px;

} 

.image-container {

  margin: 1rem;
  background-color: #f1ecec;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.movie-over{
  background-color: white;
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
  transform: translateY(100%);
}

.image-container:hover .movie-over{

  transform: translateY(0%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
padding: 10px ;
}


.title{
  display: flex;
  color: #697184;
  text-align: center;
  justify-content: space-between;
  padding: 1rem ;

  
}
.date{
  color: #697184
}

h1{
  text-align: center;
  color: #B1A6A4;
}

.heading{
  text-align: end;
  padding: 10px;
  border: #8d8b8a solid;
  background: #585756
}


.inputSearch{

  padding: 0px 20px 10px;

}

.input{

  width: 10%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;

}
.input:focus{
  border: 3px solid #555;

}

.InputButton{
  background-color: white;
  color: black;
  border: 2px solid #837f7f;
  font-size: 12px;
  width: 5%;
  padding: 5px 10px;
  margin: 8px 0;

}


.AanimeButton{

  text-align: center;
  padding: 0px 100px 100px 100px;
}

.buttonMore{

  background-color: white;
  color: black;
  border: 2px solid #837f7f;
  width: 40%;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 5px ;
  
}

.buttonMore:hover {opacity: 1}

.buttonForAdd{

  padding: 0px 0px 50px 100px;

}

.ButtonStyle{

  background-color: white;
  color: black;
  border: 2px solid #837f7f;
  font-size: 12px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 5px ;
  text-align: center;
}
.ButtonStyle:hover {opacity: 1}

.ButtonStyleSec{

  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 10px ;
  width: 50%;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  
}


.ButtonStyleSec:hover {opacity: 1}


